.row{
    display:flex;
    align-items: flex-start;
    flex-direction: column;
}


body{
    background-image: url("https://i.imgur.com/TcTWPAP.jpg")
}

.container-fluid{
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.daBest{
    color:gray;
}

.fave{
    background-color: transparent;
    color: white;
    border-radius: 50%;
}

#animeInfo {
    color: whitesmoke;
}

#usrForm {
    background-color: whitesmoke;
}

